<div>
    <h1 style="font-size: 200%">Авторизация</h1>
    <form method="post" action="../php/auth.php">
        <input type="text" class="form-control" id="login" name="login" placeholder="Логин"><br>
        <input type="password" class="form-control" name="password" id="password" placeholder="Пароль"><br>
        <a href="components/reg.php"><button type="button" class="btn btn-success" name="registration" value="registration">Регистрация</button></a>
        <button type="submit" class="btn btn-success" name="sign_in" value="sign_in">Войти</button>
    </form>
</div>